$BG_COLOR: #2e3542;

body
{
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code
{
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App
{
    text-align: center;
}

.App-logo
{
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference)
{
    .App-logo
    {
        animation: App-logo-spin infinite 20s linear;
    }
}

.header
{
    background-color: $BG_COLOR;
}

.link
{
    color: #61dafb;
}

.page
{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

#page-1
{

}
#page-2
{
    background-color: $BG_COLOR;
}


@keyframes App-logo-spin
{
    from
    {
        transform: rotate(0deg);
    }
    to
    {
        transform: rotate(360deg);
    }
}
